
.DS_Store
*.m~
Results/*.pdf
SEER analysis/SEER_1973_2014_CUSTOM_TEXTDATA/incidence/yr1973_2014.seer9/COLRECT.TXT
SEER analysis/SEER_1973_2014_CUSTOM_TEXTDATA/incidence/yr1992_2014.sj_la_rg_ak/COLRECT.TXT
SEER analysis/SEER_1973_2014_CUSTOM_TEXTDATA/incidence/yr2000_2014.ca_ky_lo_nj_ga/COLRECT.TXT
SEER analysis/SEER_1973_2014_CUSTOM_TEXTDATA/incidence/yr2005.lo_2nd_half/COLRECT.TXT
SEER analysis/SEER_1973_2014_CUSTOM_TEXTDATA/ChemotherapyRadiation-SEER-DUA-2016.pdf
SEER analysis/SEER_1973_2014_CUSTOM_TEXTDATA/incidence/read.seer.research.custom.nov16.sas
SEER analysis/SEER_1973_2014_CUSTOM_TEXTDATA/incidence/seerdic.custom.pdf
SEER analysis/.Rhistory
*.tex
*.log
*.gz
